header {
    width: 100%;
    height: 64px;
    padding: 2% 5%;

    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.texto {
    width: 690px;
    /* height: ; */
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.texto a {
    color: var(--branco);
}

.icones_header {
    display: flex;
    gap: 30px;
}

.menu {
    display: none;
}

/* HEADER FINALIZADO */

/* COMEÇANDO BANNER */


#banner {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url(../assets/image/triangulos\ 1.png);
   
    background-repeat: no-repeat;
}

#banner h2 {
    font-size: 64px;
    font-weight: bolder;
}

#banner h3 {
    font-size: 30px;
    font-weight: lighter;
}

#banner button {
    margin-top: 20px;
    padding: 12px;

    border: none;
    border-radius: 15px;
    color: var(--branco);
    background-color: #8609E6;
}

#banner button:hover {
    cursor: pointer;
    scale: 1.1;
}

.titulo {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.subtitulo {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* BANNER FINALIZADO */

/* COMENCANDO SOBRE */

#sobre {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.textos_sobre h2 {
    margin-bottom: 50px;
}

.textos_sobre p,
span {
    width: 100%;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* SOBRE FINALIZADO */

#tecnologias {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

#tecnologias h2 {
    margin-bottom: 60px;
    margin-right: 900px;
    
}


.tecnologias {
    background-color: transparent;

    width: 250px;
    min-width: 200px;

    border: 2px solid var(--branco);
    border-radius: 10px;
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.icon_tech{
     /* width: 90px;
     height: 95px; */
}
.texto_tech {
    font-size: 20px;
}

.tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
#contato{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 50px;
}

#contato img{
    width: 400px;
}
.contate-nos{
    height: 200px;
    /* padding:  1px 1 px; */
    background-color: var(--roxo_testado);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1085px) {
    .grid_banner {
        margin-top: 240px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px
    }

    .grid_sobre {
        height: 810px;
        display: flex;
        flex-direction: column;
    }


    #sobre img {
        width: 250px;
        margin-top: 30px;
    }

    .textos_sobre {
        /* width: 100%; */
        margin-top: 311px;
        /* height: 500px; */
    }


}

@media screen and (max-width: 768px) {

    .texto,
    .modo_claro {
        display: none;
    }

    .menu {
        display: flex;
    }

    #sobre img {
        width: 200px;
        margin-top: 30px;
    }

    .textos_sobre {
        /* width: 100%; */
        margin-top: 630px;
        /* height: 500px; */
    }

    .tecnologias {
        width: 270px;
    }

    #tecnologias {
        margin-top: 680px;
        gap: 60px;

    }

    .tech {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media screen and (max-width: 425px) {

    .grid_banner {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid_banner>.imagem_eduarda {
        width: 230px;
    }

    #banner {
        margin-top: -60px;
    }

    .subtitulo {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #banner h3 {
        font-size: 20px;
    }

    .titulo {
        gap: 15px;
    }

    #banner h2 {
        font-size: 30px;
        font-weight: 100;
    }

    .grid_sobre {
        margin-top: 50px;
    }

    #sobre img {
        width: 148px;
        margin-top: 0px;
    }

    .textos_sobre {
        /* width: 100%; */
        margin-top: 500px;
        /* height: 500px; */
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .textos_sobre p,
    span {
        width: 80%;
    }

    .textos_sobre>h2 {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}